@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

/* global */
:root{
    /* font-size */
    --font--large:40px;
    --font--medium:25px;
    --font--regular:16px;
    --font--small:14px;
    --font--title:28px;

    /* font-weight */
    --weight--bold:bold;
    --weight--medium:600;
    --weight--normal:400;

    /* font-family */
    --font--opensans:'Open Sans', sans-serif;
    --font--notosans:'Noto Sans KR', sans-serif;

    /* color */
    --color--yellow:#ffb703;
    --color--skyblue:#81c3d7;
    --color--blue:#219ebc;
    --color--orange:#fb8500;
    --color--black:#2d2d2d;
    --color--darkgray:#333333;
    --color--white:#f2f2f2;
    --color--gray:#979797;
}

html {
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color:inherit;
}

.container{
    max-width:1200px;
    margin:auto;
}

/* navbar */
#header{
    width: 100%;
    position: fixed;
    left:0; 
    right:0;
    transition: all 0.3s;
    z-index:9;
}
.navbar__logo img{
    width:50px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 0;
}
.navbar__menu{
    display: flex;
    align-items: center;
    
}
.navbar__menu__item{
    margin-left:30px;
}
.navbar__menu__item a{
    font-size: var(--font--small);
    font-family: var(--font--opensans);
    color:var(--color--white);
}

#header.on{
    background: #fff;
    border-bottom: 1px solid #dadada;
}
#header.on .navbar__menu__item a{
    color: var(--color--black);
}

/* section */
.section__title{
    font-family: var(--font--opensans);
    font-size: var(--font--title);
    font-weight: var(--weight--bold);
    color: var(--color--white);
    text-align:center;
    padding:44px 0;
    text-transform: uppercase;
}
.article__title{
    font-family: var(--font--opensans);
    font-size: var(--font--title);
    font-weight: var(--weight--bold);
    text-align: center;
    
}
.article__desc{
    display: block;
    margin:auto;
    font-size: var(--font--regular);
    color:var(--color--gray);
    text-align: center;
    line-height: 1.5;
    padding-top:15px;
    word-break: keep-all;
}

/* home */
.home{
    width: 100%;
    height: 100vh;
    background: url(../images/background-image.png) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
.home .container{
    height:100%;
    display:flex;
    align-items: center;;
}
.home__textbox{
    max-width:500px;
    color: var(--color--white);
    font-family: var(--font--opensans);
}
.home__textbox p{
    font-size:var(--font--large);
    font-weight: var(--weight--bold);
    line-height:1.3;
    text-transform: uppercase;
}
.home__textbox span{
    display:block;
    font-size: var(--font--regular);
    line-height:1.5;
    margin-top: 16px;
}
.home__textbox__btn{
    display:inline-block;
    width: 150px;
    height:45px;
    text-align:center;
    line-height:45px;
    border-radius:4px;
    background:var(--color--skyblue);
    font-size: var(--font--regular);
    margin-top:42px;
    border:1px solid var(--color--skyblue);
    box-sizing:border-box;
    transition:all .3s;
}
.home__textbox__btn:hover{
    color:var(--color--skyblue);
    background:transparent;
}

/* about */
.about{
    padding-bottom:80px;
}
.about .section__title{
    background:var(--color--yellow);
}
.about__article{
    color:var(--color--black);
    padding-top:60px;
}
.myInfo{
    display: flex;
    align-items:center;
    padding-top:32px;
}
.myInfo__left{
    width: 50%;
}
.myInfo__img{
    width:350px;
    height:350px;
    border-radius: 50%;
    overflow:hidden;
    margin:auto;
}
.myInfo__right{
    width: 50%;
}
.myInfo__intro{
    font-size: var(--font--regular);
    color:var(--color--black);
    line-height: 1.5;
    word-break: keep-all;
}
.majors{
    padding-top:16px;
}
.majors_item{
    font-family: var(--font--opensans);
    font-size: var(--font--regular);
    color: var(--color--gray);
    margin-top: 16px;
    position:relative;
    padding-left:40px;
}
.majors_item b{
    display: inline-block;
    font-family: var(--font--notosans);
    color: var(--color--black);
    font-weight: 500;
    padding-left:15px;
}
.majors_item:before{
    content:"";
    width:24px;
    height:24px;
    position:absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center center;
}
.majors__item__edu:before{
    background-image:url(../images/building-columns-solid.svg);
}
.majors__item__job:before{
    background-image:url(../images/building-solid.svg);
}
.skillset{
    max-width:700px;
    display: flex;
    justify-content: center;
    gap:0 20px;
    margin:auto;
    margin-top:60px;
}
.skill{
    width:calc(25% - 15px);
    text-align: center;
    box-sizing:border-box;
}
.skill__graphic{
    position:relative;
    width:100px;
    height:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
}
.skill__graphic svg{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:100px;
    height:100px;
}
.skill__graphic path{
    stroke-dashoffset: 88;
    stroke-dasharray: 88;
}
.skill__graphic img{
    width:44px;
}
.skill__name{
    margin-top: 20px;
    font-family: var(--font--opensans);
    font-size: var(--font--medium);
    font-weight: var(--weight--medium);;
    color: var(--color--black);
}
.skill__desc{
    margin-top:12px;
    font-family: var(--font--opensans);
    font-size: var(--font--regular);
    color: var(--color--gray);
    word-break:keep-all;
}

.about.show .skill__html path{
    stroke-dashoffset: 0;
    transition: all 0.5s ease 0.5s;
}
.about.show .skill__css path,
.about.show .skill__jquery path{
    stroke-dashoffset: 8.8;
    transition: all 0.5s ease 0.5s;
}
.about.show .skill__js path{
    stroke-dashoffset: 35.2;
    transition: all 0.5s ease 0.5s;
}

/* work */
.work .section__title{
    background-color: var(--color--blue);
}
.work .container{
    padding-top:60px;
    padding-bottom: 60px;
}
.work__navi{
    display: flex;
    justify-content: center;
    gap:0 10px;
}
.work__navi__item a{
    display: block;
    height: 36px;
    line-height:36px;
    font-family: var(--font--opensans);
    font-size: var(--font--small);
    color: var(--color--black);
    padding:0 15px;
    border: 1px solid var(--color--black);
    box-sizing:border-box;
    transition: all 0.3s;
}
.work__navi__item.on a,
.work__navi__item:hover a{
    background: var(--color--black);
    color: var(--color--white);
}
.work__list{
    margin-top:50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:28px;
    transition: all 0.3s ease-out;
}
.work__list.ani-out{
    opacity: 0;
    transform: scale(0.99) ;
}
.work__list__item{
    display: none;
    width: 300px;
    position: relative;
    overflow: hidden;
    opacity: 0;
}
.work__list__item.on{
    opacity: 1;
    display: block;
}
.work__item__img img{
    width: 100%;
}
.work__item__desc{
    position: absolute;
    left:0;
    top:100%;
    width:100%;
    height:100%;
    background:var(--color--black);
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--font--notosans);
    font-size: var(--font--regular);
    color: var(--color--white);
    box-sizing:border-box;
    transition: all 0.3s;
}
.work__list__item:hover .work__item__desc{
    top:0;
    opacity: 0.8;
}
.work__item__desc .work__title{
    font-size: var(--font--medium);
    font-weight: var(--weight--bold);
    word-break: keep-all;
    padding-bottom: 20px;
    margin-bottom: 11px;
    position: relative;
}
.work__item__desc .work__title:after{
    content:"";
    width: 50px;
    height: 2px;
    background: var(--color--white);
    position: absolute;
    left:50%;
    bottom:0;
    transform: translateX(-50%);
}
.work__item__desc ul li{
    line-height: 1.5;
}

/* contact */
.contact .section__title{
    background: var(--color--orange);
}
.contact .container{
    padding-top:60px;
    padding-bottom: 60px;
}
#fs-frm-inputs{
    display: flex;
    gap:0 20px;
    flex-wrap: wrap;
    align-items: center;
}
.contact label{
    position: absolute; width: 1px;  height: 1px;  margin: -1px;  overflow: hidden;  clip-path: polygon(0 0, 0 0, 0 0);    
}

.contact input{
    width: calc(50% - 10px);
    height: 40px;
    display: block;
    border:none;
    border-bottom: 1px solid #dadada;
    box-sizing:border-box;
    font-family: var(--font--opensans);
    font-size: var(--font--regular);
    padding:0 14px;
}
.contact textarea{
    width: 100%;
    height: 200px;
    box-sizing:border-box;
    border: 1px solid #dadada;
    font-family: var(--font--notosans);
    font-size: var(--font--regular);
    line-height: 1.5;
    padding:5px 10px;
    margin-top: 15px;
    resize: none;
}
.contact textarea::placeholder{
    font-family: var(--font--opensans);
}
.contact .submit{
    width: 140px;
    height: 40px;
    background: var(--color--black);
    color: var(--color--white);
    font-family: var(--font--opensans);
    font-size: var(--font--regular);
    margin-left:auto;
    margin-top: 20px;
    cursor:pointer;
}

/* top */
.top__btn{
    width: 50px;
    height: 50px;
    background:var(--color--skyblue);
    border-radius: 50%;
    position: fixed;
    right: 40px;
    bottom: 40px;
    cursor: pointer;
    z-index: 10;
    border:none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}
.top__btn img{
    width: 25px;
}
.top__btn.on{
    opacity: 1;
    pointer-events: auto;
}

/* footer */
#footer{
    background: var(--color--black);
}
.footer{
    text-align: center;
    color: var(--color--gray);
    font-size: var(--font--small);
    font-family: var(--font--opensans);
    padding:15px 0;
}

/* resoponsive */
@media screen and (max-width:1240px){
    .container{
        width:100%;
        padding-left:50px;
        padding-right: 50px;
        box-sizing:border-box;
    }
}

@media screen and (max-width:960px){
    .myInfo{
        flex-direction: column;
    }
    .myInfo__left{
        width:100%;
    }
    .myInfo__right{
        width:100%;
        margin-top: 50px;
    }
}

@media screen and (max-width:640px) {
    :root{
        /* font-size */
        --font--large:30px;
        --font--medium:20px;
        --font--regular:14px;
        --font--small:12px;
        --font--title:24px;
    }

    .container{
        padding-left:25px;
        padding-right: 25px;
    }

    .section__title{
        padding:33px 0;
    }

    .myInfo__img{
        width: 280px;
        height: 280px;
    }
    .myInfo__img img{
        width: 100%;
    }

    .myInfo__right{
        margin-top: 25px;
    }

    .skillset{
        flex-wrap: wrap;
        gap:20px;
        max-width: 400px;
    }
    .skill{
        width: calc(50% - 10px);
    }

    .top__btn{
        width: 40px;
        height: 40px;
        right: 25px;
        bottom: 25px;
    }
    .top__btn img{
        width: 20px;
    }
}